section.page#gamePage
  section#game
    .row
      .col-xs-12
        h3 Game

    .row.players
      .col-xs-5.username
        h4(data-hook="player0") Player 1
      .col-xs-2
        h4 vs
      .col-xs-5.username
        h4(data-hook="player1") Player 2

    .board
      each row in [0, 1, 2]
        .row
          each col in [0, 1, 2]
            - var classes = "col-xs-4 tile-" + row + "-" + col + " tile"
            div(class=classes data-row-index=row data-col-index=col data-marked-by="") &nbsp;
        
  section#leaderboard
    .row
      .col-xs-12
        h3#draw Draw
        h3#winner Winner:
            span
        
    .row#header
      .col-xs-3 Player
      .col-xs-3 Wins
      .col-xs-3 Draws
      .col-xs-3 Losses
      
    .row#player0
      .col-xs-3.username
      .col-xs-3.wins
      .col-xs-3.draws
      .col-xs-3.losses
      
    .row#player1
      .col-xs-3.username
      .col-xs-3.wins
      .col-xs-3.draws
      .col-xs-3.losses
      
    .row
        .col-xs-12
            button.btn.btn-primary#newGame New Game
        
      
