section.page#gamePage
  section#game.text-center
    .row.players
      .col-xs-5.col-md-4.username.blue.text-right
        span(data-hook="player0") Player 1
      .col-xs-2.col-md-3
        span vs
      .col-xs-5.col-md-4.username.pink.text-left
        span(data-hook="player1") Player 2

    .board
      each row in [0, 1, 2]
        .row
          each col in [0, 1, 2]
            - var classes = "col-xs-4 col-md-3 tile-" + row + "-" + col + " tile"
            if(col === 0) 
              - classes = classes + " col-md-offset-1"
              
            div(class=classes data-row-index=row data-col-index=col data-marked-by="") &nbsp;
        
  section#leaderboard.text-center
    .row.result
      .col-xs-12
        p#draw Draw
        p#winner Winner: 
            span
        
    .row#header
      .col-xs-3 Player
      .col-xs-3 Wins
      .col-xs-3 Draws
      .col-xs-3 Losses
      
    .row#player0
      .col-xs-3.username
      .col-xs-3.wins
      .col-xs-3.draws
      .col-xs-3.losses
      
    .row#player1.margin-bottom
      .col-xs-3.username
      .col-xs-3.wins
      .col-xs-3.draws
      .col-xs-3.losses
      
    .row.text-center
        .col-xs-12
            button.btn.blue-background.font-weight#newGame New Game
        
      
