section.page#newGame
  .row
    .col-xs-12
      h3 New Game

  form(data-hook="players-form")
    .row
      .col-xs-12
        fieldset(data-hook="field-container")
    .row
      .col-xs-12
        .alert.alert-danger(role="alert").
          The usernames cannot be the same
    .row
      .col-xs-12
        .buttons-group
          button.btn.btn-primary(type="submit") Start
          button.btn.btn-primary(type="reset") Cancel