section.page#newGame
  form(data-hook="players-form")
    .row
      .col-xs-12
        fieldset(data-hook="field-container")
    .row
      .col-xs-12
        .alert.text-center.alert-danger(role="alert").
          The usernames cannot be the same
    .row.text-center
      .col-xs-2.col-xs-offset-4.col-md-1.col-md-offset-5
          button.btn.blue-background.font-weight(type="submit") Start
      .col-xs-2.col-md-1
          button.btn.pink-background.font-weight(type="reset") Cancel