section.page.new-game
  .row
    .col-xs-12
      h3 New Game

  form(data-hook="players-form")
    .row
      .col-xs-12
        fieldset(data-hook="fields-container")
    .row
      .col-xs-12
        .buttons-group
          button.btn.btn-primary(type="submit") Start
          button.btn.btn-primary(type="reset") Cancel