body
  .container
    .row
      .col-xs-12
        h1.text-center.logo.margin-bottom
          a(href="/") 
            span.blue Tic
            span Tac
            span.pink Toe
    .row
      .col-xs-12.container
        main(data-hook="page-container")
